<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Udacity Frontend ND - Capstone Project">
    <title>Trip Planner</title>
</head>
<body>
    <div class="backdrop"></div>
    <header class="main-header">
        <div class="trip-form">
            <div class="form-control">
                <div class="form-control__input">
                    <label for="destination">My trip to : </label>
                    <input type="text" name="destination" id="destination" required> 
                </div>
                <div class="form-control__input">
                    <label for="departure">Departure : </label>
                    <input type="text" name="departure" id="departure" placeholder="dd-mm-yyyy" required> 
                </div>
            </div>
            <button id="add-trip" class="submit" type="submit">Add Trip</button>
        </div>
    </header>

    <section class="trips">

    </section>



    <footer class="footer">
        <p class="footer__item">&copy; Copyright 2020 by JF Molderez Inc.</p>
        <p class="footer__item">Terms of use</p>
    </footer>

    <script>
        // Check that service workers are supported
        if ( 'serviceWorker' in navigator ) {
            // Use the window load event 
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            })
        }
    </script>

</body>
</html>