<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Udacity Frontend ND - Capstone Project">
    <title>Trip Planner</title>
</head>
<body>
    <div class="backdrop"></div>
    <header class="main-header">
        <form class="trip-form">
            <div class="form-control">
                <div class="form-control__input">
                    <label for="destination">My trip to : </label>
                    <input type="text" name="destination" id="destination"> 
                </div>
                <div class="form-control__input">
                    <label for="departure">Departure : </label>
                    <input type="text" name="departure" id="departure" placeholder="dd-mm-yyyy"> 
                </div>
            </div>
            <button id="add-trip" class="submit" type="submit">Add Trip</button>
        </form>
    </header>

    <section class="trips">

    </section>



    <footer class="footer">
        <p class="footer__item">&copy; Copyright 2020 by JF Molderez Inc.</p>
        <p class="footer__item">Terms of use</p>
    </footer>

    <script src="static/js/pwa.js"></script>

</body>
</html>