* {
    box-sizing: border-box;
}

.trips {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.loader {
  padding: 3rem 7rem;
}

.tripCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem 1rem;

  .trip {
    
    display:flex;
    flex-direction: column;
    width: 400px;
    //height: 850px;
    border: 1px solid gray;
    border-radius: 3px;
    align-items: center;

    &__image {  
      //background:url('https://pixabay.com/get/5ee4d34b4d51b10ff3d8992cc62f367d123ad8ec4e50744076267fdd934ecd_640.jpg');
      width: 100%;
      height: 400px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 100% 100%;
  }  

    &__infoItems {
        list-style: none;
        padding: 0 .5rem;

        li {
          padding: .1rem 0;
        }

    }

    h4.weatherTitle { 

      margin-bottom: 0;

    }

    .weather {

      display: flex;
      justify-content: space-around;
      align-items: center;
      
      &__info {
        list-style: none;
        padding:0;
        margin-top: 2rem;
        width: 30%;
      }
      
      &__image {
        // background:url('https://www.weatherbit.io/static/img/icons/c03d.png');
        width: 68%;
        height: 10rem;
        background-size: cover;
        background-repeat: no-repeat;
      }

    }

    .message {
      padding: 0 .5rem;
      justify-self: flex-end;

      &.success {
        background: lightgreen;
      }

      &.warning {
        background: #e99851;
      }

    }

    .remove {

      display:block;
      background : blue;
      color:white;
      margin: 1rem auto;
      border-radius: 5px;
      cursor: pointer;
    
    }
  }
}


